/* GLOBAL RULES */

:root {
  --main-color: #172b4d;
  --secondary-color: #36b37e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px - 10px / 16px =0.625 = 62.5% - percentage of user's browsers font-size setting - 1rem = 10 px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--main-color);
}

.hidden-flow {
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.btn,
.btn:link,
.btn:visited {
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 1.2rem 2.4rem;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
}

.btn:active {
  background-color: #008552;
}

.btn:hover {
  background-color: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}
