/* HEADER SECTION */
.navbar {
  height: 7rem;
  padding: 3.2rem;
  position: relative;
  overflow: hidden;
  z-index: 99;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  float: right;
  transition: 0.3s;
}

.menu-icon .bar {
  display: block;
  background-color: var(--main-color);
  width: 3rem;
  height: 4px;
  border-radius: 4px;
}

.menu-icon.active .bar {
  background-color: #67798e;
}

.menu-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-icon.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-items {
  display: none;
  gap: 3.2rem;
  justify-content: center;
}

.nav-item {
  font-size: 1.6rem;
  font-weight: 600;
  color: #344563;
  transition: 0.3s;
}

.nav-item:hover {
  color: var(--main-color);
}

.mobile-nav-items {
  position: fixed;
  top: 0;
  left: -100%;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 6.2rem 3.2rem;
  transition: 0.2s;
}

.mobile-nav-items li {
  margin-bottom: 3.2rem;
}

.mobile-nav-items a {
  font-size: 3.2rem;
  font-weight: 600;
  color: #3a4a42;
  line-height: 1.2;
}

.mobile-nav-items a:hover {
  color: #3a4a42f0;
}

.mobile-nav-items.active {
  left: 0;
}

@media (min-width: 768px) {
  .navbar {
    display: none;
  }

  .nav-items {
    display: flex;
  }
}

/* landing */
.landing {
  padding: 5.2rem 0;
  height: 100vh;
  position: relative;
  background-image: url("../images/header-illsutration-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.primary-heading {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.primary-heading span {
  display: block;
  color: var(--secondary-color);
}

.landing-text {
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 3.6rem;
}

.center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.socials {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

.arrow-down {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  border: 2px solid #dfe1e6;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 9.6rem;
  background-image: url("../images/arrow-down.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 375px) {
  .landing {
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .landing {
    background-image: url("../images/Header-llustration-desktop@2x.png");
  }

  .primary-heading br {
    display: none;
  }

  .landing-text {
    max-width: 61%;
    margin: 0 auto;
    margin-bottom: 3.2rem;
  }

  .socials {
    gap: 2.4rem;
  }
}

/* WORKS SECTION */
.section-works {
  padding: 3.2rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3.2rem;
}

.secondary-heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 3.2rem;
}

.section-works .separate {
  margin: 3.2rem auto;
  height: 5px;
  width: 20%;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .secondary-heading br {
    display: none;
  }

  .section-works .separate {
    display: none;
  }
}

.project {
  border: 2px solid #ebf0ee;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 3.2rem;
  overflow: hidden;
}

.project img {
  width: 100%;
  margin-bottom: 3.2rem;
  transition: all 0.3s;
}

.project img:hover {
  transform: scale(1.2);
}

.project-heading {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #3a4a42;
  padding: 2.4rem;
  margin-bottom: 3.2rem;
}

.techs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4.8rem;
}

.techs-item {
  font-size: 1.2rem;
  font-weight: 600;
  color: #3a4a42;
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 1.2rem;
}

.project .btn {
  font-size: 1.7rem;
}

/* ABOUT SECTION */
.section-about {
  padding: 4.8rem 0;
}

.about-header {
  background: url("../images/illustration-about-me-1-desktop.png") no-repeat
      right top,
    url("../images/illustration-about-me-2-desktop.png") no-repeat left bottom;
  background-size: 15%;
  padding: 4.8rem 0;
}

.about-header .container {
  text-align: center;
}

.about-text {
  margin: 0 auto;
  margin-bottom: 3.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  color: #42526e;
}

.skills {
  padding: 4.8rem 0;
}

.skill-item {
  background-color: #ebf0ee;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 2rem 0;
  border-radius: 10px;
}

.skill-item h5 {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--main-color);
}

.skill-item .list {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.skill-item .list li {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  background-color: #fff;
  color: var(--secondary-color);
  padding: 1rem;
  border-radius: 8px;
}

/* CONTACT SECTION */
.section-contact {
  padding: 3.2rem 0;
  position: relative;
}

.contact-description {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.5px;
  text-align: center;
  margin-bottom: 4.8rem;
}

.form {
  text-align: center;
}

@media (min-width: 768px) {
  .form {
    text-align: left;
  }
}

.form-control input,
textarea {
  width: 100%;
  font-size: 1.4rem;
  font-style: italic;
  border: 2px solid #dfe1e6;
  border-radius: 4px;
  padding: 1.2rem;
  margin-bottom: 1.2rem;
  transition: all 0.3s;
}

input:hover::placeholder,
textarea:hover::placeholder {
  transform: translateX(2rem);
}

textarea {
  font-style: normal;
  border: 1px solid #60c095;
}

@media (min-width: 768px) {
  .section-contact {
    background: url("../images/contact-illus\ 02.png") no-repeat left bottom,
      url("../images/contact-illus\ 03.png") no-repeat right top;
    background-size: contain;
    background-size: 10%;
  }

  .section-contact .container {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
  }

  .contact-description {
    text-align: left;
  }

  .form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1200px) {
  .section-contact {
    background: none;
  }
}

/* FOOTER */
footer {
  text-align: center;
  margin: 0 auto;
  padding: 1.6rem 0;
  color: #42526e;
  position: relative;
}

footer .email {
  font-size: 1.4rem;
  margin-bottom: 3.2rem;
}

footer .hr {
  display: none;
}

@media (min-width: 768px) {
  .footer-illustration {
    display: none;
  }

  footer .email {
    display: none;
  }

  footer .hr {
    display: block;
    background-color: #dfe1e6;
    height: 1px;
    margin-bottom: 1.2rem;
  }
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2.4rem;
}

/* Modal Content */
.modal-container {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: scroll;
}

@media (min-width: 768px) {
  .modal-container {
    width: 60%;
  }
}

.modal-container h5 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #172b4d;
  padding: 1.8rem 0;
}

.img-box {
  width: 100%;
  padding: 1.4rem 0;
}

.img-box .popup-img {
  width: 100%;
}

@media (min-width: 768px) {
  .img-box img {
    max-height: 55rem;
  }
}

.modal-container .techs {
  justify-content: flex-start;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.modal-container p {
  font-size: 1.6rem;
  color: #344563;
  line-height: 1.3;
  padding-bottom: 3.2rem;
}

.modal-container ul {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.content-box {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.btn-wraper {
  order: 4;
  float: right;
}

@media (min-width: 1000px) {
  .modal-container h5 {
    width: 50%;
  }

  .btn-wraper {
    position: absolute;
    top: 2rem;
    right: 0;
  }
}

.modal-container .btn {
  font-size: 1.4rem;
  padding: 1.2rem 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.modal-container .btn img {
  max-width: 40%;
}

/* The Close Button */
.close {
  color: #67798e;
  font-size: 3.2rem;
  float: right;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
